* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', Courier, monospace;
}

@font-face {
    font-family: 'HYWenHei 85W';
    font-style: normal;
    font-weight: normal;
    src: local('HYWenHei 85W'), url('Assets/Font/zhcn.woff') format('woff');
}

.navbar {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    background-image: url(Assets/Components/Homepage/Navbar.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 15vh;
    width: 100vw;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7vw;
    z-index: 5;
}

.navbar img {
    position: relative;
}

.navbar .menu-icon {
    display: none;
}

.navbar .menu-list a {
    color: white;
    opacity: 0.75;
    text-decoration: none;
    transition: all 0.2s;
}

.navbar .menu-list a[data-active] {
    opacity: 1;
    border-bottom: 2px solid #FFCF0D;
}

.navbar .menu-list a:hover {
    opacity: 1;
    border-bottom: 2px solid #FFCF0D;
}

.navbar .menu-list ul {
    display: flex;
    gap: 3vw;
    list-style-type: none;
    font-size: 20px;
}

.menu-icon-list {
    display: none;
}

@media screen and (max-width: 576px) {
    .navbar-container {
        position: fixed;
        display: flex;
        flex-direction: column;
        z-index: 5  ;
    }

    .navbar {
        position: relative;
        background-color: rgba(0, 0, 0, 0.5);
        background-image: none;
        height: 10%;
        width: 100vw;
        padding: 3vh 5vw;
    }

    .navbar .menu-list {
        display: none;
    }

    .navbar .menu-icon {
        display: block;
        color: white;
    }
    
    .navbar .menu-icon i {
        font-size: 2rem;
    }

    .navbar .logo {
        color: white;
    }

    .menu-icon-list-container {
        position: relative;
        width: 100vw;
    }

    .menu-icon-list {
        top: -1000px;
        padding: 2vh 4vw;
        background-color: rgba(0, 0, 0, 0.5);
        display: block;
        position: absolute;
        color: white;
        display: flex;
        flex-direction: column;
        gap: 2vh;
        font-size: 1.1em;
        transition: all 0.5s;
        width: 100%;
    }

    .menu-icon-list a {
        color: white;
        /* opacity: 0.75; */
        text-decoration: none;
    }

    .menu-icon-list a[data-active] {
        border-left: 2px solid #FFCF0D;
        padding-left: 2vw;
        opacity: 1;
    }
}

footer {
    background-color: #222222;
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    padding: 5vh;
    gap: 3vh;
    color: white;
}

footer hr {
    margin: 5vh 0;
    border: 2px solid rgba(255, 255, 255, 0.1);
}

footer span {
    color: red;
}

.footer-logo {
    display: flex;
    justify-content: space-between;
}

.footer-link {
    display: flex;
    gap: 4vw;
    font-size: 20px;
}

.footer-link a {
    color: white;
    opacity: 0.5;
    text-decoration: none;
    transition: all 0.2s;
}

.footer-link a:hover {
    opacity: 1;
}

.footer-description {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 576px) {
    footer {
        height: 100%;
    }
    
    .footer-link {
        flex-wrap: wrap;
    }

    .footer-description {
        display: flex;
        flex-direction: column;
        gap: 2vh;
    }

    .footer-description img {
        width: 200px;
    }
}

/* Home Page - End */
/* ================================================================================================================================ */
.jumbotron {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(Assets/Homepage/Jumbotron/Jumbotron.jpg);
    background-size: cover;
    background-position: bottom;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15vh;
    padding: 0 20vh;
    padding-bottom: 5vh;
}

.jumbotron .main-header {
    margin-top: 15vh;
}

.jumbotron .main-header p {
    margin: 5vh 0;
    font-size: 56px;
    font-weight: 1000;
    color: white;
}

.jumbotron .main-header button {
    padding: 21px 40px;
    font-size: 16px;
    font-weight: bold;
    background-color: #FFCF0D;
    border: none;
    border-radius: 10px;
    transition: all 0.2s;
}

.jumbotron .main-header button:hover {
    background-color: #000000;
    color: white;
}

.download {
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: end;
}

.jumbotron-button {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    color: white;
    gap: 1vw;
    transition: all 0.2s;
}

.playstation-button {
}

.jumbotron-button:hover {
    background-color: rgba(00, 0, 0, 1);
    cursor: pointer;
}

.playstation-button img{
    width: 8vw;
    height: 3vh;
}

.googleplay-button img {
    width: 2.5vw;
    height: 5vh;
}

.windows-button img {
    width: 2.5vw;
}

.windows-button p {
    font-size: 20px;
}

.news::after {
    content: "";
    position: absolute;
    height: 100vh;
    width: 100%;
    backdrop-filter: blur(10px);
    pointer-events: none;
}

.news {
    position: relative;
    background-image: url(Assets/Homepage/News/Background.png);
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-container {
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    width: 75vw;
    height: 55vh;
    z-index: 3;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}

.news-carousel {
    position: relative;
    flex: 1;
    width: 50%;
    height: 100%;
}

.news-carousel ul {
    list-style-type: none;
    height: 100%;
}

.slide {
    height: 100%;
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}

.slide[data-active] {
    opacity: 1;
}

.news-carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news-latest {
    padding: 2vh 2vw;
    color: white;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.latest-header {
    font-size: 24px;
    border-left: 2px solid #FFCF0D;
    padding-left: 1vw;
}

.news-latest hr {
    margin: 2vh 0;
    opacity: 15%;
}

.news-latest-text {
    display: flex;
    justify-content: space-between;
}

.news-latest-text span {
    opacity: 25%;
}

@media screen and (max-width: 576px) {
    .jumbotron {
        padding: 0 5vh;
        padding-bottom: 5vh;
    }

    .jumbotron .main-header {
        margin-top: 2vh;
    }

    .jumbotron .main-header p {
        font-size: 36px;
    }

    .jumbotron .main-header button {
        padding: 20px 24px;
        font-size: 16px;
        font-weight: bold;
        background-color: #FFCF0D;
        border: none;
        border-radius: 10px;
        transition: all 0.2s;
    }
    
    .jumbotron .main-header button:hover {
        background-color: #000000;
        color: white;
    }

    .download {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;
        align-items: end;
    }

    .jumbotron-button {
        height: 30%;
        min-width: 41vw;
        /* max-width: 3vw; */
        /* width: 40vw; */
    }

    .playstation-button img{
        width: 70%;
        height: 3vh;
    }

    .googleplay-button img {
        width: 5vw;
        height: 5vh;
        margin-right: 1vw;
    }
    
    .windows-button img {
        width: 4.5vw;
        margin-right: 1vw;
    }

    .news-container {
        height: 90vh;
        flex-direction: column;
    }

    .news-carousel {
        width: 100%;
        height: 60vh;
    }

    .latest-header {
        font-size: 20px;
        padding-left: 3vw;
    }

    .news-latest {
        padding: 2vh 4vw;
    }

    .news-latest hr {
        margin: 1vh 0;
    }

    .news-latest-text p {
        font-size: 14px;
    }

    .news-latest-text span {
        font-size: 14px;
    }
}
/* Home Page - End */
/* ================================================================================================================================ */


/* Register Page - Start */
/* ================================================================================================================================ */
.register-container::after {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    width: 100vw;
    height: 100vh;
}

.register-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url(Assets/Register/Background.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.register-form {
    position: absolute;
    background-color: white;
    width: 75vw;
    height: 75vh;
    border-radius: 10px;
    z-index: 3;
    display: flex;
    flex-direction: row;
    margin-top: 6vh;
}

.register-image {
    position: relative;
    flex: 1;
    background-image: url(Assets/Register/Side-Image.jpg);
    background-size: cover;
    background-position: 50%;
    border-radius: 10px 0 0 10px;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: end;
    flex-direction: column;
    padding: 2vh 2vw;
}

.register-image p {
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.register-input {
    padding: 2em;
    flex: 1;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4vh;
}

.register-input p {
    font-size: 20px;
    font-weight: bold;
}

.user-input {
    display: flex;
    flex-direction: column;
}

.user-input input {
    padding: 6px 12px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 100%;
    font-family: "poppins";
}

.row-input {
    display: flex;
    gap: 2vw;
}

.row-input-single {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.row-input-single input {
    padding: 8px 16px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 100%;
    font-family: "poppins";
}

.input-button {
    width: 100%;
    padding: 1.5vh;
    border: none;
    border-radius: 5px;
    background: #FFCF0D;
    font-size: 18px;
    font-family: "poppins";
}

/* Register Page - End */
/* ================================================================================================================================ */

/* About Game Page - Start */
/* ================================================================================================================================ */

.about-wrapper::after {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    background-attachment: fixed;
    backdrop-filter: blur(10px);
    width: 100vw;
    height: 100%;
    z-index: 1;
    /* padding: 20vh 0; */
}

.about-wrapper {
    position: relative;
    background-image: url(Assets/About-Game/Background.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-container {
    padding: 20vh 0;
    z-index: 3;
    display: flex;
    flex-direction: column;
    gap: 10vh;
}

.about-box {
    display: flex;
    /* justify-content: center; */
    background-color: white;
    width: 80vw;
    height: 45vh;
    z-index: 2;
}

.about-text-container {
    width: 30%;
    border: 2px solid #FFCF0D;
    margin: 2vh;
    padding: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vh;
}

.about-text-header {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.about-text-paragraph {
    font-size: 16px;
}

.about-image {
    background-image: url(Assets/About-Game/Image-1.jpg);
    background-size: cover;
    width: 70%;
}

/* About Game Page - End */
/* ================================================================================================================================ */

/* Maps Page - Start */
/* ================================================================================================================================ */

.maps-teyvat::after {
    content: "";
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
    height: 100vh;
    width: 100%;
}

.maps-list { 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.maps-teyvat {
    background-image: url(Assets/Maps/Teyvat.jpg);
    background-size: cover;
    position: relative;
    height: 100vh;
    width: 100%;
}

.maps-content {
    z-index: 1;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vh;
}

.maps-mondstadt::after {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    height: 100vh;
    width: 100%;
}

.maps-mondstadt {
    background-image: url(Assets/Maps/Mondstadt.png);
    background-size: cover;
    position: relative;
    height: 100vh;
    width: 100%;
}

.maps-liyue::after {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    height: 100vh;
    width: 100%;
}

.maps-liyue {
    background-image: url(Assets/Maps/Liyue.png);
    background-size: cover;
    position: relative;
    height: 100vh;
    width: 100%;
}

.maps-inazuma::after {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    height: 100vh;
    width: 100%;
}

.maps-inazuma {
    background-image: url(Assets/Maps/Inazuma.jpg);
    background-size: cover;
    position: relative;
    height: 100vh;
    width: 100%;
}

.maps-sumeru::after {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    height: 100vh;
    width: 100%;
}

.maps-sumeru {
    background-image: url(Assets/Maps/Sumeru.png);
    background-size: cover;
    position: relative;
    height: 100vh;
    width: 100%;
}

.maps-title {
    font-size: 64px;
    font-weight: bold;
    letter-spacing: 5px;
}

.maps-content hr {
    width: 60vh;

}

.maps-list img {
    width: 5vw;
}

.close-button {
    font-size: 36px;
    padding: 1rem;
    margin: 2vh 2vw;
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.map-detail-teyvat {
    background-image: url(Assets/Maps/Teyvat-map.png);
    background-size: cover;
    background-position: right center;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: end;
    scale: 0;
    transition: ease-out 0.2s;
}

.map-detail-teyvat[data-active] {
    scale: 1;
    transition: ease-out 0.2s;
}

.map-container {

}

/* Maps Page - End */
/* ================================================================================================================================ */

/* Characters Page - Start */
/* ================================================================================================================================ */
.characters::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
}

.characters {
    position: relative;
    display: flex;
    justify-content: end;
    align-items: end;
    background-image: url(Assets/Characters/Background.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.characters-detail {
    position: absolute;
    z-index: 2;
    background-image: url(Assets/Characters/Character-1.png);
    background-size: cover;
    height: 90%;
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 10vh 0;
    color: white;
    gap: 3vh;
    transition: all 0.2s;
}

.characters-name {
    border-left: 2px solid #FFCF0D;
    padding: 0 3vh;
}

.characters-name p {
    font-size: 64px;
    font-weight: bold;
    transition: all 0.2s;
}

.characters-description {
    display: flex;
    align-items: start;
    gap: 2vh;
    background-color: rgba(0, 0, 0, 0.5);
    max-width: 45%;
    padding: 2vh;
    transition: all 0.2s;
}

.characters-description img {
    margin: 1vh 0;
}

.characters-list {
    background-color: rgba(255, 255, 255, 0.3);
    height: 25vh;
    width: 100vw;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}

.characters-card {
    display: flex;
    flex-direction: column;
    width: 7vw;
    border-radius: 5px;
    cursor: pointer;
}

.characters-card[data-active] {
    outline: 2px solid white;
}

.characters-card[data-active] .card-name {
    background-color: white;
    color: black;
}

.card-name {
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
    padding: 0.5vh 0;
    border-radius: 0 0 5px 5px;
}

.characters-card:hover {
    outline: 2px solid white;
    /* background-color: white; */
}

.characters-card:hover .card-name {
    background-color: white;
    color: black;
}